<% content_for :title, "Edit Profile" %>
<h1 class="my-4 text-center">Edit Profile</h1>
<%= render "form" %>
<br>
<div class="mt-3 text-center">
  <%= link_to "Back to profile", @user, class: "btn btn-secondary" %>
</div>