<% content_for :title, "Editing category" %>
<h1 class="my-4 text-center">Editing category</h1>
<%= render "form", category: @category %>
<br>
<div class="mt-3 text-center">
  <%= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
</div>
