<% content_for :title, "Categories" %>
<div class="my-3 d-flex align-items-center gap-4">
  <h1>Categories</h1>
  |
  <%= render "new" %>
</div>
<% if @categories.present? %>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
<% end %>
<%= paginate @categories %>