<p style="color: green"><%= notice %></p>
<% content_for :title, "Categories" %>
<h1 class="mb-4">Categories</h1>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </tbody>
</table>
<div class="mt-4">
  <%= link_to "New category", new_category_path, class: "btn btn-success" %>
</div>
