<p style="color: green"><%= notice %></p>
<% content_for :title, "Categories" %>
<div class="my-3 d-flex align-items-center gap-4">
  <h1>Categories</h1>
  |
  <%= link_to "New category", new_category_path, class: "btn btn-success" %>
</div>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
