<h1>Reports#report_by_dates</h1>
<div class="col-6">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= @labels.to_json.html_safe %>,
      datasets: [{
        label: '# of Votes',
        data: <%= @data.to_json.html_safe %>,
        borderWidth: 1
      }]
    }
  });
</script>