<p style="color: green"><%= notice %></p>
<% content_for :title, "Operations" %>
<h1 class="mb-4">Operations</h1>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Description</th>
      <th class="text-center">Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <%= render operation %>
    <% end %>
  </tbody>
</table>
<div class="mt-4">
  <%= link_to "New operation", new_operation_path, class: "btn btn-success" %>
</div>
