<% content_for :title, "New operation" %>
<h1 class="my-4 text-center">New Operation</h1>
<%= render "form", operation: @operation %>
<br>
<div class="mt-3 text-center">
  <%= link_to "Back to operations", operations_path, class: "btn btn-secondary" %>
</div>